---
layout: default
title: quotes - condensed wisdom
quotes:
    - what: "Though this be madness, yet there is method in 't."
      where: "From Hamlet (II, ii, 206)"
    - what: "Those who believe in telekinetics, raise my hand..."
      who: "Kurt Vonnegut"
    - what: "Three o'clock is always too late or too early for anything you want to do."
      who: "Jean-Paul Sartre"
    - what: "Violence is a sword that has no handle - you have to hold the blade."
    - what: "We are alone, absolutely alone on this chance planet: and, amid all the forms of life that surround us, not one, excepting the dog, has made an alliance with us."
      who: "Maurice Maeterlinck"
    - what: "We live as we dream – alone."
      who: "Joseph Conrad"
      where: "Heart of Darkness"
    - what: "You must have chaos within you to give birth to a dancing star."
      who: "Friedrich Nietzsche"
    - what: "Zyniker: Ein Mensch, der, wenn er Blumen sieht, nach dem Sarg Ausschau hält."
      who: "Henry Louis Mencken"
    - what: "[Abstract art is] a product of the untalented, sold by the unprincipled to the utterly bewildered."
      who: "Al Capp"
    - what: "The man who says it can not be done should not interrupt the man who is trying to do it."
    - what: "The man who sets out to carry a cat by its tail learns something that will always be useful and which never will grow dim or doubtful."
      who: "Mark Twain"
    - what: "The optimist thinks that this is the best of all possible worlds, and the pessimist knows it."
      who: "J. Robert Oppenheimer"
    - what: "The people I distrust most are those who want to improve our lives but have only one course of action."
      who: "Frank Herbert"
    - what: "The power of accurate observation is commonly called cynicism by those who have not got it."
      who: "George Bernard Shaw"
    - what: "The Viking's Reminder: Pillage first, _then_ burn."
    - what: "The whole problem with the world is that fools and fanatics are always so certain of themselves, but wiser people so full of doubts."
      who: "Bertrand Russell"
    - what: "The word 'politics' is derived from the word 'poly', meaning 'many', and the word 'ticks', meaning 'blood sucking parasites'."
      who: "Larry Hardiman"
    - what: "The world is wide, and I will not waste my life in friction when it could be turned into momentum."
      who: "Frances Willard"
    - what: |
        There are no choices. Nothing but a straight line.
        The illusion comes afterwards, when you ask 'Why me?' and 'What if?'.
        When you look back and see the branches, like a pruned bonsai tree, or forked lightning.
        If you had done something differently, it wouldn't be you,
        it would be someone else looking back, asking a different set of questions.
      who: "Max Payne"
    - what: "So we follow our wandering paths, and the very darkness acts as our guide and our doubts serve to reassure us."
      who: "Jean-Pierre de Caussade, eighteenth-century Jesuit priest"
    - what: "Sometimes people carry to such perfection the mask they have assumed that in due course they actually become the person they seem."
      who: "W. Somerset Maugham"
    - what: "Subtlety is the art of saying what you think and getting out of the way before it is understood."
    - what: "The fact that a believer is happier than a skeptic is no more to the point than the fact that a drunken man is happier than a sober one."
      who: "George Bernard Shaw"
    - what: |
        The Heavens burned, the stars cried out,
        and under the ashes of infinity,
        Hope, scarred and bleeding, breathed its last.
      who: "Ulatempa Poetess"
      where: "Elegy for the Commonwealth, CY 9828"
    - what: "The keenest sorrow is to recognize ourselves as the sole cause of all our adversities."
      who: "Sophocles"
    - what: "The longer I live the more I see that I am never wrong about anything, and that all the pains I have so humbly taken to verify my notions have only wasted my time."
      who: "George Bernard Shaw"
    - what: |
        The magician is seated in his high chair and looks upon the world with favor.
        He is at the height of his powers.
        If he closes his eyes, he causes the world to disappear.
        If he opens his eyes, he causes the world to come back.
        If there is harmony within him, the world is harmonious.
        If rage shatters his inner harmony, the unity of the world is shattered.
        If desire arises within him, he utters the magic syllables that causes the desired object to appear.
        His wishes, his thoughts, his gestures, his noises command the universe.
      who: "Selma Fraiberg"
      where: "The Magic Years, pg. 107"
    - what: "Nothing contributes so much to tranquilizing the mind as a steady purpose – a point on which the soul may fix its intellectual eye."
      who: "Henri Matisse"
    - what: "OK, look. Asking me to do performance evaluations is ridiculous. I am the first person to admit... I don't know who these people are, nor do I care to. Look, if you'd like, I could take you down the hall to the labs and just point at the people who annoy me more than the rest, but that's about as useful as I get."
      who: "Rodney McKay"
      where: "Stargate Atlantis"
    - what: "One should absorb the colour of life, but one should never remember its details. Details are always vulgar."
      who: "Oscar Wilde"
    - what: "Prepare yourself for the world, as the athletes used to do for their exercise; oil your mind and your manners, to give them the necessary suppleness and flexibility; strength alone will not do."
      who: "Earl of Chesterfield"
    - what: "Reading made Don Quixote a gentleman. Believing what he read made him mad."
      who: "George Bernard Shaw"
    - what: |
        Remember, remember, the 5th of December, The patch day treason and plot.
        I see no reason, for MS and Cleavin', Since Tseric wants us to spec Prot.
      who: "Vortigen, Doomhammer"
    - what: "Security is like an onion – the more you dig in the more you want to cry."
    - what: "Man sollte aus Anstand selber den Augenblick des Verschwindens wählen. Es ist erniedrigend, zu erlöschen, wie man erlischt; es ist unertraglich, einem Ende ausgeliefert zu sein, auf das man keinen Einfluß hat, das uns auflauert, uns niederschlägt, uns ins Unnennbare stürzt."
      who: "E. M. Cioran"
      where: "Die verfehlte Schöpfung, 56"
    - what: "Man will never be free until the last king is strangled with the entrails of the last priest."
      who: "Diderot"
    - what: "Men live in a fantasy world. I know this because I am one, and I actually receive my mail there."
      who: "Scott Adams"
    - what: "Most human beings have an almost infinite capacity for taking things for granted."
      who: "Aldous Huxley"
    - what: "Not all those who wander are lost."
      who: "J.R.R. Tolkien"
    - what: "It is hard enough to remember my opinions, without also remembering my reasons for them!"
      who: "Friedrich Nietzsche"
    - what: "It is only after we've lost everything, that we are free to do anything."
      who: "Tyler Durden"
      where: "Fight Club (Movie)"
    - what: |
        It's 10% luck, 20% skill, 15% concentrated power of will, 5% pleasure, 50% pain, and a 100% reason to remember the name.
    - what: |
        Man darf nicht zurückgehen in die alten Raume, gleichgültig ob wir dort glücklich oder unglücklich waren.
        Man darf die Menschen von früher, die wir vor zehn oder zwanzig Jahren, an irgendeinem Punkt unserer Entwicklung, verlassen haben, nicht wiedersehen.
        Antworte auf Briefe von alten Freunden höflich, doch vereinbare kein Treffen mit ihnen, und noch viel weniger solltest du alte Freundinnen wiedersehen.
        Man darf nicht zu Begräbnissen gehen. Du solltest dich nicht auf die Turbulenzen fremder Leben einlassen, die dich schließlich nichts angehen. Man darf nicht zurückschauen.
        Alles das soll nicht Untreue oder Gefühllosigkeit den Menschen gegenüber sein. Es ist lediglich eine Diät, nichts sonst. Auch die Seele verträgt verdorbene, abgestandene Nahrung schlecht.
      who: "Sándor Márai"
      where: "Himmel und Erde, 209"
    - what: "I'm an idealist. I don't know where I'm going, but I'm on my way"
      author: "Carl Sandburg"
    - what: |
        I've seen things you people wouldn't believe.
        Attack ships on fire off the shoulder of Orion.
        I watched C-beams glitter in the dark near the Tannhauser gate.
        All those moments will be lost in time, like tears in rain.
      where: "Blade Runner (Movie)"
    - what: "If knowledge can create problems, it is not through ignorance that we can solve them."
      who: "Isaac Asimov"
      where: "http://www.asimovonline.com"
    - what: "It hits like a fright train, is uncontrollable if properly supported, not going to die anytime soon, it's immune to fear and will mortal strike the bejeezus out of you. Your friendly neighbourhood axe specced MS arcanite reaper warrior."
    - what: "I feel as though the camera is almost a kind of voyeur in Mr. Bean's life, and you just watch this bizarre man going about his life in the way that he wants to."
      who: "Rowan Atkinson"
    - what: "i find it kind of funny, i find it kind of sad, the dreams in which im dying are the best i've ever had"
    - what: "I gaze into the moon which makes my mind pure as crystal lakes my eyes cold as the darkest winter nights, but yet there is a flame inside it guides me into the dark shadows beyond this world, into the infinity of thoughts..."
      who: "Emperor"
      where: "Into The Infinity Thoughts (Song)"
    - what: "He wrapped himself in quotations – as a beggar would enfold himself in the purple of Emperors."
      who: "Rudyard Kipling"
    - what: "Heut' debug' ich, morgen browse' ich, uebermorgen caste ich die Koenigin nach int!"
      who: "viz"
      where: "#gamedev.ger"
    - what: "I do not fear computers. I fear the lack of them"
      who: "Isaac Asimov"
      where: "http://www.asimovonline.com"
    - what: "He who fights with monsters might take care lest he thereby become a monster. And if you gaze for long into an abyss, the abyss gazes also into you."
      who: "Friedrich Nietzsche"
    - what: |
        Frisbeetarianism, n.:
        The belief that when you die, your soul goes up on the roof and gets stuck.
    - what: "Fernsehen ist so eine Art geistige Neutronenbombe, das Gehirn wird weggestrahlt, aber der Kopf bleibt stehen."
      who: "Oliver Kalkofe"
    - what: "Faith is, at one and the same time, absolutely necessary and altogether impossible."
      who: "Stanislaw Lem"
    - what: "Every generation imagines itself to be more intelligent than the one that went before it, and wiser than the one that comes after it."
      who: "George Orwell"
    - what: "Each place has its own advantages – heaven for the climate, and hell for the society"
      who: "Mark Twain"
    - what: "Der Zynismus ist meine Rüstung, der Sarkasmus mein Schwert und die Ironie mein Schild."
    - what: "Der Tod verbirgt kein Geheimnis. Er öffnet keine Tür. Er ist das Ende eines Menschen. Was von ihm überlebt, ist das, was er anderen Menschen gegeben hat, was in ihrer Erinnerung bleibt."
      who: "Norbert Elias"
    - what: "Das Schwierige am Diskutieren ist nicht, den eigenen Standpunkt zu verteidigen, sondern ihn zu kennen."
      who: "Andre Maurois"
    - what: "Coming home from very lonely places, all of us go a little mad: whether from great personal success, or just an all-night drive, we are the sole survivors of a world no one else has ever seen."
      who: "John le Carre"
    - what: "Cannibals prefer those who have no spines."
      who: "Stanislaw Lem"
    - what: "C++ : an octopus made by nailing extra legs onto a dog."
    - what: "An invasion of armies can be resisted, but not an idea whose time has come."
      who: "Victor Hugo"
    - what: |
        'Who are you and how did you get in here?'
        - 'I'm a locksmith. And, I'm a locksmith.'
      who: "Leslie Nielsen"
    - what: "A casual stroll through the lunatic asylum shows that faith does not prove anything."
      who: "Friedrich Nietzsche"
    - what: "All animals are equal but some animals are more equal than others."
      who: "George Orwell"
    - what: "Uncertainty is an uncomfortable position. But certainty is an absurd one."
      who: "Voltaire"
    - what: "Die Vernunft kann sich mit größerer Wucht dem Bösen entgegenstellen, wenn der Zorn ihr dienstbar zur Hand geht."
      who: "Papst Gregor der Große"
    - what: "The dangerous man is the one who has only one idea, because then he'll fight and die for it."
      who: "Francis Crick"
---

{% for quote in page.quotes %}
<blockquote>
    <p>{{ quote.what }}</p>
    {% if quote.who and quote.where %}
    <small>{{ quote.who }} in {{quote.where}}</small>
    {% elsif quote.who %}
    <small>{{ quote.who }}</small>
    {% elsif quote.where %}
    <small>{{ quote.where }}</small>
    {% endif %}
</blockquote>
{% endfor %}
