<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-1.1.0.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>

<ul class="tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/">me</a></li>
  <li><a href="/about.html">about</a></li>
  <li><a href="/quotes.html">quotes</a></li>
</ul>


<div class="container">
{{ content}}
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', {{ site.google_analytics }}]);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>    
</body>
</html>
